body {
    text-align: center;
    background-color: aliceblue;
}


.div1 {
    float: left;
    margin-left: 200px;
    padding-top: 100px;
    margin-right: 100px;

}

#border1 .div1 {
    border: 5px solid red;
    padding: 10px;
}

.div2 {
    float: right;
    margin-right: 200px;
    padding-top: 100px;
    margin-left: 100px;

}

#border2 .div2 {
    border: 5px solid khaki;
    padding: 10px;
}


.hidden {
    display: none;
}

body .totalScore {
    margin-top: auto;
    margin-right: 20px;
    margin-left: 10px;
    padding: 250px;

}

body #resetButton {
    margin-top: -250px;
    padding-top: 5px;

}


#namePlayers {
    padding: 20px;
}

#nameFirst {
    margin-bottom: 10px;
}

#button0 {
    margin: 15px;
    margin-top: 10px;
    background-color: green;
    height: 30px;
    width: 150px
}

#Clicky {
    margin-top: 10px;
    background-color: oldlace;
    height: 30px;
    width: 150px
}

#button1 {
    margin: 15px;
    margin-top: 10px;
    background-color: red;
    height: 30px;
    width: 150px
}

#button2 {
    margin: 15px;
    margin-top: 10px;
    background-color: khaki;
    height: 30px;
    width: 150px
}

#resetButton00 {
    margin: 15px;
    margin-top: 10px;
    background-color: darkgoldenrod;
    height: 30px;
    width: 150px
}

#button11 {
    margin: 15px;
    margin-top: 10px;
    background-color: khaki;
    height: 30px;
    width: 150px
}

#button22 {
    margin: 15px;
    margin-top: 10px;
    background-color: red;
    height: 30px;
    width: 150px
}

#starter {
    margin: 15px;
    margin-top: 10px;
    background-color: darkturquoise;
    height: 30px;
    width: 150px
}